{% extends "base.html" %}

{% block title %}Edit Profile - Crowdfunding{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="fw-bold mb-5">Edit Profile</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        {% if field.name != 'password' %}
                        <label class="form-label fw-bold">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
